body{
    background-color:aliceblue;
}
.top-ul{
    display:flex;
    padding-top:30px;
    width:1000px;
    height:50px;
    margin:0 auto;
    justify-content: space-between;
}
.between-li{
    width:500px;
}
.first-a{
    color:grey;
    font-family: 'Montserrat', sans-serif;
}
.first-a:hover{
    text-decoration:underline;
    color:black;

}
.second-a{
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}
.second-a:hover{
    text-decoration:underline;
    color:black;

}
.section-1-div{
    display:flex;
    width:1200px;
    margin:0 auto;
    margin-top:140px;
}
.div-2{
    padding-left:60px;
}
.div-1-h1{
    font-size:50px;
    font-family: 'Montserrat', sans-serif;
}
.div-1-p{
    padding-top:25px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
}
.div-1-button{
    margin-top:120px;
    height:40px;
    width:150px;
    border-radius:30px;;
    border:none;
    background-color:#007FFF;
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    transition:all 0.19s linear;
}
.div-1-button:hover{
    background-color:#0066b2;
}
.section-1-image{
    transition: all 0.5s linear;
}
.section-1-image:hover{
    transform: scale(1.1, 1.1);
}
.wave-text::before{
    content:"\26F1";
    padding-right:4px;
}
.s-2-div{
    width:550px;
    margin:0 auto;
    margin-top:100px;
}
.s-2-h3{
    text-align:center;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    color:#007FFF;
}
.s-2-h2{
    margin-top:20px;
    text-align:center;
    font-size:24px;
    font-family: 'Raleway', sans-serif;
}
.s-2-p{
    margin-top:20px;
    text-align:center;
    font-family:'roboto', 'sans-serif';

}
.parent-div-1{
    display:flex;
    width:1000px;
    margin:0 auto;
    justify-content:space-between;
    margin-top:50px;
}
.child-div-1{
    width:300px;
    height:350px;
    border-radius:20px;
    position:relative;
    
}
.child-1{
    background-color:#E49B0F;
}
.child-2{
    background-color: #00D1D1;
}
.child-3{
    background-color: #9F2B68;
}
.google-icon{
    height:100px;
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%)
    
}
.facebook-icon{
    height:100px;
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%)
}
.instagram-icon{
    height:100px;
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%)
}
.child-div-h5{
    padding-top:160px;
    text-align:center;
    color:white;
    font-family:'roboto', 'sans-serif';
    font-size:15px;
}
.child-div-p{
    padding-top:10px;
    text-align:center;
    color:white;
    font-family:'roboto', 'sans-serif';
    font-size:15px;
    
}
.child-div-button-1{
    height:30px;
    width:100px;
    border-radius:20px;
    border:1px solid #fff;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:60px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
    transition:all 0.5s linear

}
.child-div-button-1:hover{
    background-color:white;
    color:black;
}
.button-1{
    background-color:#E49B0F;
}
.button-2{
    background-color:#00D1D1;
}
.button-3{
    background-color:#9F2B68;
}
.parent-div-2{
    width:1000px;
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    margin-top:50px;
    
}
.child-div-2{
    height:350px;
    width:300px;
    background-color:black;
    border-radius:20px;
    position:relative;

}
.icon-4,.icon-5,.icon-6{
    width:100px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:20px;
}
.button-4{
    background-color:#6495ED;
}
.button-5{
    background-color:#F08080;
}
.button-6{
    background-color:#B22222;
}
.child-4{
    background-color:#6495ED;
}
.child-5{
    background-color:#F08080;
}
.child-6{
    background-color:#B22222;
}
.s-2-child-div-h5{
    padding-top:160px;
    text-align:center;
    color:white;
    font-family:'roboto', 'sans-serif';
    font-size:15px;
}
.s-2-child-div-p{
    padding-top:10px;
    text-align:center;
    color:white;
    font-family:'roboto', 'sans-serif';
    font-size:15px;
}